<header class="admin-header">
    <div class="header-left">
      <div class="logo">
      <span nz-icon nzType="user" nzTheme="outline" style="color: #ff6118; font-size: 24px;"></span>
      <h1>EduQuest (ADMIN)</h1>
      </div>
    </div>
    <div class="header-right">
      <ul nz-menu nzMode="horizontal">
      <li nz-menu-item>
        <a routerLink="/inbox">Inbox</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/courses">Courses</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/department">Departements</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/stats">Statistics</a>
      </li>
      </ul>
    </div>
  </header>