.authForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 10px 13px 20px 1px rgba(128, 128, 128, 0.418);
    border-radius: 10px;

    .mat-mdc-form-field{
        min-width: 300px;
        margin-bottom: 20px;
    }
    .btn{
        align-self: flex-end;
        padding: 10px 20px;
        outline: none;
        border: none;
        border-radius: inherit;
        color: white;
        background-color: rgb(81, 164, 241);
        font-weight: bolder;
        font-size: 1rem;

        &:hover{
            background-color: rgb(59, 136, 225);
        }
    }
    .links{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-self: flex-start;
        gap: 10px;
        margin-bottom: 10px;
        a{
            color:rgb(81, 164, 241);
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color: rgb(59, 136, 225);
            }
        }
    }
}