:host {
    display: block;
    padding: 16px;
  }
  
  .w-full {
    width: 100%;
  }
  
  table {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .mat-mdc-card {
    padding: 16px;

  }
  
  .mat-mdc-form-field {
    margin-bottom: 16px;
  }

.mat-mdc-card-title{
    margin-bottom: 20px;
}